:root {
  --color-primary: #333;
  --color-secondary: #9a3412;
  --color-tertiary: #7b200a;
  --color-quaternary: #2d2f31;

  --background-secondary: #fff7ed;
}

body {
  font-family: sans-serif;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-secondary);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  padding: 20px 0;
  flex: 1;
}

h1 {
  margin-bottom: 24px;
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
}
