.gameCard {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  color: var(--color-primary);
}

.gameCard:hover {
  transform: scale(1.01) translateY(-8px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.gameInfoContainer {
  padding: 10px;
}

.gameCard img {
  width: 100%;
  display: block;
  object-fit: cover;
}
